designs/pages/dashboard/landing.json
[
    {
        "id": "sd_UWEsrTmDSRRDnTPG",
        "type": "tab",
        "createdDate": "2024-06-27T07:07:21.203Z",
        "label": "landing",
        "disabled": false,
        "info": "",
        "functionSeq": 3,
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_PG5aMe7N1BaiAMNc",
        "type": "OnInit",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PG5aMe7N1BaiAMNc",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_9z36AQr1fte2OtQ1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_9z36AQr1fte2OtQ1",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_9z36AQr1fte2OtQ1",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_guYnU3kGwfXJ2Upw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_guYnU3kGwfXJ2Upw",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.dataSource = new MatTableDataSource([\n  {\n    position: 1, name: 'Hydrogen', weight: 1.0079, symbol: 'H' }\n  ,\n  {\n    position: 2, name: 'Helium', weight: 4.0026, symbol: 'He' }\n  ,\n  {\n    position: 3, name: 'Lithium', weight: 6.941, symbol: 'Li' }\n  ,\n  {\n    position: 4, name: 'Beryllium', weight: 9.0122, symbol: 'Be' }\n  ,\n  {\n    position: 5, name: 'Boron', weight: 10.811, symbol: 'B' }\n  ,\n  {\n    position: 6, name: 'Carbon', weight: 12.0107, symbol: 'C' }\n  ,\n  {\n    position: 7, name: 'Nitrogen', weight: 14.0067, symbol: 'N' }\n  ,\n  {\n    position: 8, name: 'Oxygen', weight: 15.9994, symbol: 'O' }\n  ,\n  {\n    position: 9, name: 'Fluorine', weight: 18.9984, symbol: 'F' }\n  ,\n  {\n    position: 10, name: 'Neon', weight: 20.1797, symbol: 'Ne' }\n  ,\n]);",
        "functionName": "sd_eJuzOUTYKNgXaqdz_1",
        "category": "Function",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "sd_fzMYPQElq5d2IBqG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_fzMYPQElq5d2IBqG",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "sd_cZTbTliooxQEmZva"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_TcpEVFmLhVHrtnsd",
        "type": "AfterViewInit",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 250,
        "wires": [
            [
                "sd_kdbTyXJHq1vVj97I"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_kdbTyXJHq1vVj97I",
        "type": "ViewPicker",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_1",
        "category": "Function",
        "x": 205,
        "y": 250,
        "wires": [
            [
                "sd_PqaCUfVlp6W0oJpn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_PqaCUfVlp6W0oJpn",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.sort = this.MatSort;",
        "functionName": "sd_2VNGqvcKee34lvOz_1",
        "category": "Function",
        "x": 345,
        "y": 250,
        "wires": [
            [
                "sd_vMGq3mJsxptAqFPu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_Guxm8ekaFD3uuhdD",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.filterEvent);\nconst filterValue = (bh.input.filterEvent.target as HTMLInputElement).value;\nthis.page.tableData.filter = filterValue.trim().toLowerCase();",
        "functionName": "sd_iBlFYTlpoczCmWts_2",
        "category": "Function",
        "x": 205,
        "y": 370,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_adOvmBOSHQzLkxFH",
        "type": "PageStart",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter_2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter_2",
        "category": "General",
        "x": 60,
        "y": 370,
        "wires": [
            [
                "sd_Guxm8ekaFD3uuhdD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_vMGq3mJsxptAqFPu",
        "type": "ViewPicker",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_3",
        "category": "Function",
        "x": 205,
        "y": 480,
        "wires": [
            [
                "sd_tARZt0DRobSjBj9K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_tARZt0DRobSjBj9K",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_3",
        "category": "Function",
        "x": 345,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_NnspzZp9hDl35KZN",
        "type": "Environment",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_NnspzZp9hDl35KZN",
        "category": "General",
        "x": 505,
        "y": 140,
        "wires": [
            [
                "sd_K06IhtGGYLY1T8aV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_K06IhtGGYLY1T8aV",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.url + 'get-receipt-data'",
        "functionName": "sd_K06IhtGGYLY1T8aV",
        "category": "Function",
        "x": 565,
        "y": 140,
        "wires": [
            [
                "sd_tpNQaIaEDvxKME3M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_tpNQaIaEDvxKME3M",
        "type": "HttpRequest",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get-receipts",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.resultReceipts",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultReceipts"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getReceipts",
        "category": "HTTP",
        "x": 665,
        "y": 140,
        "wires": [
            [
                "sd_8ougUSQ0VB24ZYvg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_RjtqOtUC3AKvIjvY",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\nbh.local.dataSource = new MatTableDataSource(page.resultReceipts);\nconsole.log(page.resultReceipts)\n\n\n",
        "functionName": "sd_RjtqOtUC3AKvIjvY",
        "category": "Function",
        "x": 845,
        "y": 140,
        "wires": [
            [
                "sd_YArsXmdKRkOBbExv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_8ougUSQ0VB24ZYvg",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_8ougUSQ0VB24ZYvg",
        "category": "Function",
        "x": 745,
        "y": 140,
        "wires": [
            [
                "sd_RjtqOtUC3AKvIjvY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_YArsXmdKRkOBbExv",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_YArsXmdKRkOBbExv",
        "category": "Function",
        "x": 925,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_cZTbTliooxQEmZva",
        "type": "UseDependency",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_cZTbTliooxQEmZva",
        "category": "Function",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_NnspzZp9hDl35KZN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    }
]
