designs/pages/dashboard/landing.json
[
    {
        "id": "sd_UWEsrTmDSRRDnTPG",
        "type": "tab",
        "createdDate": "2024-06-27T07:07:21.203Z",
        "label": "landing",
        "disabled": false,
        "info": "",
        "functionSeq": 7,
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_g8anwqOVxkl7dnK1",
        "type": "OnInit",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_g8anwqOVxkl7dnK1",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_xW4Pjtkb5SQe5Fy6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_oVwRlrUvGw6hhxZi",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showImage",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "false"
                }
            },
            {
                "textIp": "image",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_oVwRlrUvGw6hhxZi",
        "category": "Function",
        "x": 195,
        "y": 60,
        "wires": [
            [
                "sd_2l8EVQOKmVRV14Om"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_HqphZUawWwBmzlQe",
        "type": "Environment",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HqphZUawWwBmzlQe",
        "category": "General",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_RDN6unfHnk0O5Kfz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_RDN6unfHnk0O5Kfz",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.url + 'get-receipt-data'\n\nconsole.log(bh.url)",
        "functionName": "sd_RDN6unfHnk0O5Kfz",
        "category": "Function",
        "x": 465,
        "y": 60,
        "wires": [
            [
                "sd_F2ZToH6C34R0qqKu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_F2ZToH6C34R0qqKu",
        "type": "HttpRequest",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get-receipts",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.resultReceipts",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultReceipts"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getReceipts",
        "category": "HTTP",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_qzr4I51Z7TShqyIx",
                "sd_vSgbhGeWJWC21z49"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_I8cgmZAyUMYw2KLe",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.url)\n\n\nbh.local.dataSource = new MatTableDataSource(page.resultReceipts);\nconsole.log(page.resultReceipts)\n// console.log(bh.local.MatPaginator)\n\npage.resultReceipts.forEach(res => console.log(res['Date-Uploaded']))\n\n",
        "functionName": "sd_I8cgmZAyUMYw2KLe",
        "category": "Function",
        "x": 725,
        "y": 60,
        "wires": [
            [
                "sd_2JXWvVyCSaWUOSSi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_qzr4I51Z7TShqyIx",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_qzr4I51Z7TShqyIx",
        "category": "Function",
        "x": 645,
        "y": 60,
        "wires": [
            [
                "sd_I8cgmZAyUMYw2KLe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_2l8EVQOKmVRV14Om",
        "type": "UseDependency",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_2l8EVQOKmVRV14Om",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_HqphZUawWwBmzlQe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_IFPuG9EBlYn7BebM",
        "type": "PageStart",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Open form",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openForm",
        "category": "General",
        "x": 80,
        "y": 280,
        "wires": [
            [
                "sd_TetSjqbxmzLs0g9j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_TetSjqbxmzLs0g9j",
        "type": "Navigation",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/operations_dashboard/add_receipt",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_TetSjqbxmzLs0g9j",
        "category": "Navigation",
        "x": 205,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_2JXWvVyCSaWUOSSi",
        "type": "PageVariables",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_2JXWvVyCSaWUOSSi",
        "category": "Function",
        "x": 825,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_lxjKQIQOrizxa17u",
        "type": "AfterViewInit",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 390,
        "wires": [
            [
                "sd_YunV0YBBxiCkT3rq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_YunV0YBBxiCkT3rq",
        "type": "ViewPicker",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_7",
        "category": "Function",
        "x": 205,
        "y": 390,
        "wires": [
            [
                "sd_7EXZYpVdzpz0TAgw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_7EXZYpVdzpz0TAgw",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_7",
        "category": "Function",
        "x": 345,
        "y": 390,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_f0M9zu2oEC7UL4PN",
        "type": "PageStart",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "view receipt",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewReceipt",
        "category": "General",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "sd_65wKzXS9Ws6GZAKR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_65wKzXS9Ws6GZAKR",
        "type": "Environment",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_65wKzXS9Ws6GZAKR",
        "category": "General",
        "x": 225,
        "y": 540,
        "wires": [
            [
                "sd_kaZQB0oEeQCKBan3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_kaZQB0oEeQCKBan3",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.urlSdd = bh.url + 'download-file/:filename'   \nbh.url = page.ssdUrl + `download-file/${page.user.fileid}`;\npage.image = page.sanitizer.bypassSecurityTrustHtml(bh.url)\npage.showImage = true\n\nwindow.open('/file', '_blank');",
        "functionName": "sd_kaZQB0oEeQCKBan3",
        "category": "Function",
        "x": 335,
        "y": 556.8020629882812,
        "wires": [
            [
                "sd_evBTOr3PDTWQ4GjU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_evBTOr3PDTWQ4GjU",
        "type": "HttpRequest",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "view",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.filename",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "filename"
        },
        "resultMapping": "this.page.Receipt",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "Receipt"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "view",
        "category": "HTTP",
        "x": 435,
        "y": 556.8020629882812,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_gwfbYYgTgPPU5vRK",
        "type": "PageStart",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "selected",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selected",
        "category": "General",
        "x": 305,
        "y": 180,
        "wires": [
            [
                "sd_QBsrjh36mJG7EFMY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "landingComponent"
    },
    {
        "id": "sd_QBsrjh36mJG7EFMY",
        "type": "Script",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = bh.input.row\npage.router.navigate(['/selected_receipt_form'])",
        "functionName": "sd_QBsrjh36mJG7EFMY",
        "category": "Function",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_K0NrFIERzJXKe8GP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_K0NrFIERzJXKe8GP",
        "type": "Storage",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "user"
        },
        "resultMapping": {},
        "functionName": "sd_K0NrFIERzJXKe8GP",
        "category": "Storage",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_xW4Pjtkb5SQe5Fy6",
        "type": "UseDependency",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DomSanitizer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "sanitizer"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/platform-browser",
        "serviceDesignerType": "pages",
        "functionName": "sd_xW4Pjtkb5SQe5Fy6",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_oVwRlrUvGw6hhxZi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    },
    {
        "id": "sd_vSgbhGeWJWC21z49",
        "type": "Log",
        "z": "sd_UWEsrTmDSRRDnTPG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.resultReceipts",
        "functionName": "sd_vSgbhGeWJWC21z49",
        "category": "General",
        "x": 660,
        "y": 160,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "resultReceipts",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "landingComponent",
        "generated": true
    }
]
