designs/pages/reports/all_purchased_items_table.json
[
    {
        "id": "sd_4VcSTe3LqzwppFKL",
        "type": "tab",
        "createdDate": "2024-06-20T11:03:16.881Z",
        "label": "all_purchased_items_table",
        "disabled": false,
        "info": "",
        "functionSeq": 3,
        "generateNext": true,
        "serviceName": "all_purchased_items_tableComponent"
    },
    {
        "id": "sd_HFeIU67l0MyY2xoO",
        "type": "OnInit",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_HFeIU67l0MyY2xoO",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_7NyJWrMmj6Xj60dl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "all_purchased_items_tableComponent"
    },
    {
        "id": "sd_7NyJWrMmj6Xj60dl",
        "type": "PageVariables",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_7NyJWrMmj6Xj60dl",
        "category": "Function",
        "x": 125,
        "y": 20,
        "wires": [
            [
                "sd_R1PRW9sFGl6VSlzx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_R1PRW9sFGl6VSlzx",
        "type": "Script",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.dataSource = new MatTableDataSource([\n  \n { category: \"Groceries\", name: \"Eggs\", price: 2.99 },\n    { category: \"Groceries\", name: \"Milk\", price: 3.49 },\n    { category: \"Groceries\", name: \"Bread\", price: 2.00 },\n    { category: \"Groceries\", name: \"Apples\", price: 1.99 },\n    { category: \"Groceries\", name: \"Pasta\", price: 1.50 },\n    { category: \"Maintenance\", name: \"Light bulbs (pack of 4)\", price: 8.99 },\n    { category: \"Maintenance\", name: \"AA Batteries (pack of 12)\", price: 6.49 },\n    { category: \"Maintenance\", name: \"Duct Tape\", price: 4.99 },\n    { category: \"Maintenance\", name: \"Multi-purpose Cleaner\", price: 3.79 },\n    { category: \"Maintenance\", name: \"Paper Towels (pack of 6 rolls)\", price: 9.99 },\n    { category: \"Supplies\", name: \"Printer Paper (ream of 500 sheets)\", price: 5.99 },\n    { category: \"Supplies\", name: \"Pens (pack of 10)\", price: 3.49 },\n    { category: \"Supplies\", name: \"Scotch Tape\", price: 2.99 },\n    { category: \"Supplies\", name: \"Envelopes (pack of 50)\", price: 7.99 },\n  \n]);",
        "functionName": "sd_eJuzOUTYKNgXaqdz_1",
        "category": "Function",
        "x": 225,
        "y": 20,
        "wires": [
            [
                "sd_B79Ed5PwcUVtN8Md"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_B79Ed5PwcUVtN8Md",
        "type": "PageVariables",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            },
            {
                "textIp": "fileName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "excelsheet"
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 325,
        "y": 20,
        "wires": [
            [
                "sd_ivaTji8kiYYwm6z7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_yYUanaL5c8MbRvcE",
        "type": "AfterViewInit",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 250,
        "wires": [
            [
                "sd_GlXZ98dwA2ZRnDmX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "all_purchased_items_tableComponent"
    },
    {
        "id": "sd_GlXZ98dwA2ZRnDmX",
        "type": "ViewPicker",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_1",
        "category": "Function",
        "x": 205,
        "y": 250,
        "wires": [
            [
                "sd_0locXHJjaZ9Tl6FV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_e0TccouieBQO4qSB",
        "type": "Script",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.sort = this.MatSort;\nthis.page.tableData.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_1",
        "category": "Function",
        "x": 385,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_hdhS3ro8xt00s7ac",
        "type": "Script",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.filterEvent);\nconst filterValue = (bh.input.filterEvent.target as HTMLInputElement).value;\nthis.page.tableData.filter = filterValue.trim().toLowerCase();",
        "functionName": "sd_iBlFYTlpoczCmWts_2",
        "category": "Function",
        "x": 205,
        "y": 370,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_1LOy9i89nURhTynD",
        "type": "PageStart",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter_2",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter_2",
        "category": "General",
        "x": 60,
        "y": 370,
        "wires": [
            [
                "sd_hdhS3ro8xt00s7ac"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "all_purchased_items_tableComponent"
    },
    {
        "id": "sd_PbjQ2z5pylux6pBD",
        "type": "Script",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.dataSource = new MatTableDataSource([\n \n  { category: \"Groceries\", name: \"Eggs\", price: 2.99 },\n    { category: \"Groceries\", name: \"Milk\", price: 3.49 },\n    { category: \"Groceries\", name: \"Bread\", price: 2.00 },\n    { category: \"Groceries\", name: \"Apples\", price: 1.99 },\n    { category: \"Groceries\", name: \"Pasta\", price: 1.50 },\n    { category: \"Maintenance\", name: \"Light bulbs (pack of 4)\", price: 8.99 },\n    { category: \"Maintenance\", name: \"AA Batteries (pack of 12)\", price: 6.49 },\n    { category: \"Maintenance\", name: \"Duct Tape\", price: 4.99 },\n    { category: \"Maintenance\", name: \"Multi-purpose Cleaner\", price: 3.79 },\n    { category: \"Maintenance\", name: \"Paper Towels (pack of 6 rolls)\", price: 9.99 },\n    { category: \"Supplies\", name: \"Printer Paper (ream of 500 sheets)\", price: 5.99 },\n    { category: \"Supplies\", name: \"Pens (pack of 10)\", price: 3.49 },\n    { category: \"Supplies\", name: \"Scotch Tape\", price: 2.99 },\n    { category: \"Supplies\", name: \"Envelopes (pack of 50)\", price: 7.99 },\n\n]);\n \n \n//storing in name tableData\n bh.local.tableData = bh.local.dataSource;\n    console.log(bh.local.tableData); \n\n\n//converting\n\n// const worksheet: WorkSheet = utils.table_to_sheet(bh.local.tableData);\n\n    // Create a new workbook and add the worksheet to it\n    // const workbook: WorkBook = utils.book_new();\n    // utils.book_append_sheet(workbook, worksheet, 'Sheet1');\n\n    // Convert the workbook to a binary string\n    // const excelBuffer: any = write(workbook, { bookType: 'xlsx', type: 'array' });\n\n    // Create a Blob from the binary string and save it using FileSaver\n    // const dataBlob: Blob = new Blob([excelBuffer], { type: 'application/octet-stream' });\n    // saveAs(dataBlob, 'table_data.xlsx');\n  \n\n  //trying new one\n\n  // fileName = \"excelsheet.xlsx\"\n\n let data = document.getElementById('table-table')\n\n  const ws:  WorkSheet = utils.table_to_sheet(data);\n  const workbook: WorkBook = utils.book_new();\n  utils.book_append_sheet(workbook, ws, 'Sheet1');\n//saving\n  // page.saveAs.writeFile(workbook, page.fileName)\n\n  const excelBuffer: any = write(workbook, { bookType: 'xlsx', type: 'array' });\n\n   const dataBlob: Blob = new Blob([excelBuffer], { type: 'application/octet-stream' });\n     saveAs(dataBlob, 'table_data.xlsx');",
        "functionName": "sd_2VNGqvcKee34lvOz_3",
        "category": "Function",
        "x": 245,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_0locXHJjaZ9Tl6FV",
        "type": "PageVariables",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData.sort",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatSort"
                }
            },
            {
                "textIp": "tableData.paginator",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatPaginator"
                }
            }
        ],
        "functionName": "sd_0locXHJjaZ9Tl6FV",
        "category": "Function",
        "x": 305,
        "y": 260,
        "wires": [
            [
                "sd_e0TccouieBQO4qSB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_MVizDoI525jCG00k",
        "type": "PageStart",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Convert",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "convert",
        "category": "General",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "sd_PbjQ2z5pylux6pBD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "all_purchased_items_tableComponent"
    },
    {
        "id": "sd_ivaTji8kiYYwm6z7",
        "type": "UseDependency",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "WorkSheet",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "write",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "WorkBook",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "utils",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "xlsx",
        "serviceDesignerType": "pages",
        "functionName": "sd_ivaTji8kiYYwm6z7",
        "category": "Function",
        "x": 445,
        "y": 20,
        "wires": [
            [
                "sd_amwwovLCcmHfVQy1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    },
    {
        "id": "sd_amwwovLCcmHfVQy1",
        "type": "UseDependency",
        "z": "sd_4VcSTe3LqzwppFKL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "saveAs",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "file-saver",
        "serviceDesignerType": "pages",
        "functionName": "sd_amwwovLCcmHfVQy1",
        "category": "Function",
        "x": 565,
        "y": 20,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "all_purchased_items_tableComponent",
        "generated": true
    }
]
