designs/pages/receipt/selected_receipt_form.json
[
    {
        "id": "sd_bEbioje8SdrSTKeh",
        "type": "tab",
        "createdDate": "2024-06-20T11:00:06.503Z",
        "label": "selected_receipt_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_uX0UIxISFMwosX18",
        "type": "OnInit",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_uX0UIxISFMwosX18",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_3edeJLn2fkKlEanm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_XyfbDazfYKEzilS2",
        "type": "PageVariables",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_XyfbDazfYKEzilS2",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_49ZekZ6zNblKYnYe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_49ZekZ6zNblKYnYe",
        "type": "Storage",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userData"
        },
        "functionName": "sd_49ZekZ6zNblKYnYe",
        "category": "Storage",
        "x": 165,
        "y": 120,
        "wires": [
            [
                "sd_q1lHTwDbml4pIrPz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_q1lHTwDbml4pIrPz",
        "type": "Script",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n\nconsole.log(\"recived\",page.userData)",
        "functionName": "sd_q1lHTwDbml4pIrPz",
        "category": "Function",
        "x": 305,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_99PDKTTfQ8mKGEcD",
        "type": "PageStart",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "pages",
        "nodeType": "start",
        "name": "view receipt",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewReceipt",
        "category": "General",
        "x": 545,
        "y": 120,
        "wires": [
            [
                "sd_a9eXs9q31YdkwSyt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_a9eXs9q31YdkwSyt",
        "type": "Environment",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_a9eXs9q31YdkwSyt",
        "category": "General",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "sd_1BdhzLGBcmRGEfLL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_1BdhzLGBcmRGEfLL",
        "type": "Script",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + `download-file/${page.userData.fileid}`;\npage.image = page.sanitizer.bypassSecurityTrustHtml(bh.url)\npage.showImage = true\n\nwindow.open(bh.url, '_blank');",
        "functionName": "sd_1BdhzLGBcmRGEfLL",
        "category": "Function",
        "x": 800,
        "y": 136.80206298828125,
        "wires": [
            [
                "sd_UtDuvQXOyPCNstAe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_UtDuvQXOyPCNstAe",
        "type": "HttpRequest",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "view",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData.fileid",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData.fileid"
        },
        "resultMapping": "this.page.Receipt",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "Receipt"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "view",
        "category": "HTTP",
        "x": 900,
        "y": 136.80206298828125,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_3edeJLn2fkKlEanm",
        "type": "UseDependency",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DomSanitizer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "sanitizer"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/platform-browser",
        "serviceDesignerType": "pages",
        "functionName": "sd_3edeJLn2fkKlEanm",
        "category": "Function",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_XyfbDazfYKEzilS2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    }
]
