designs/pages/receipt/selected_receipt_form.json
[
    {
        "id": "sd_bEbioje8SdrSTKeh",
        "type": "tab",
        "createdDate": "2024-06-20T11:00:06.503Z",
        "label": "selected_receipt_form",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_uX0UIxISFMwosX18",
        "type": "OnInit",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_uX0UIxISFMwosX18",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_3edeJLn2fkKlEanm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_XyfbDazfYKEzilS2",
        "type": "PageVariables",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_XyfbDazfYKEzilS2",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_49ZekZ6zNblKYnYe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_49ZekZ6zNblKYnYe",
        "type": "Storage",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userData"
        },
        "functionName": "sd_49ZekZ6zNblKYnYe",
        "category": "Storage",
        "x": 385,
        "y": 40,
        "wires": [
            [
                "sd_q1lHTwDbml4pIrPz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_q1lHTwDbml4pIrPz",
        "type": "Script",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n\nconsole.log(\"recived\",page.userData)",
        "functionName": "sd_q1lHTwDbml4pIrPz",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_99PDKTTfQ8mKGEcD",
        "type": "PageStart",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "pages",
        "nodeType": "start",
        "name": "view receipt",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewReceipt",
        "category": "General",
        "x": 545,
        "y": 120,
        "wires": [
            [
                "sd_a9eXs9q31YdkwSyt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "selected_receipt_formComponent"
    },
    {
        "id": "sd_a9eXs9q31YdkwSyt",
        "type": "Environment",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_a9eXs9q31YdkwSyt",
        "category": "General",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "sd_1BdhzLGBcmRGEfLL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_1BdhzLGBcmRGEfLL",
        "type": "Script",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.url = page.ssdUrl + `download-file/${page.userData.fileid}`;\npage.image = page.sanitizer.bypassSecurityTrustHtml(bh.url)\npage.showImage = true\n\nconsole.log(\"bh.url\",bh.url)\n  console.log(\"res\",page.Receipt)\n\nwindow.open(\"/view_receipt_image\", '_blank');",
        "functionName": "sd_1BdhzLGBcmRGEfLL",
        "category": "Function",
        "x": 800,
        "y": 136.80206298828125,
        "wires": [
            [
                "sd_UtDuvQXOyPCNstAe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_UtDuvQXOyPCNstAe",
        "type": "HttpRequest",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "view",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.userData.fileid",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userData.fileid"
        },
        "resultMapping": "this.page.res",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "res"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "view",
        "category": "HTTP",
        "x": 900,
        "y": 136.80206298828125,
        "wires": [
            [
                "sd_79Hz6legshY35Dv6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_3edeJLn2fkKlEanm",
        "type": "UseDependency",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "DomSanitizer",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "sanitizer"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/platform-browser",
        "serviceDesignerType": "pages",
        "functionName": "sd_3edeJLn2fkKlEanm",
        "category": "Function",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_XyfbDazfYKEzilS2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_D4IUBlbXve1T7sZ2",
        "type": "Storage",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "imgData"
        },
        "value": {
            "type": "this.page",
            "value": "res"
        },
        "resultMapping": {},
        "functionName": "sd_D4IUBlbXve1T7sZ2",
        "category": "Storage",
        "x": 1105,
        "y": 200,
        "wires": [
            [
                "sd_BFX4kzBdgJvncSEQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_BFX4kzBdgJvncSEQ",
        "type": "Log",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.Receipt",
        "functionName": "sd_BFX4kzBdgJvncSEQ",
        "category": "General",
        "x": 1225,
        "y": 200,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "Receipt",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    },
    {
        "id": "sd_79Hz6legshY35Dv6",
        "type": "Script",
        "z": "sd_bEbioje8SdrSTKeh",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " console.log(\"res\",page.res)\n//  let res = page.res;\n//   const blob = await res.blob()\n//   const img = new Image()\n//   img.src = URL.createObjectURL(blob)\n\n//   // newer promise based version of img.onload\n//   await img.decode()\n  \n//   // document.body.append(img)\n  \n//   console.log(\"res\",img)\n\n//   // Don't forget to revoke the blob url when \n//   // you no longer need it (to release memory)\n//   URL.revokeObjectURL(img.src)",
        "functionName": "sd_79Hz6legshY35Dv6",
        "category": "Function",
        "x": 980,
        "y": 200,
        "wires": [
            [
                "sd_D4IUBlbXve1T7sZ2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "selected_receipt_formComponent",
        "generated": true
    }
]
