designs/pages/receipt/view_table_of_receipt.json
[
    {
        "id": "sd_PDYpvdpmhJjQKFZR",
        "type": "tab",
        "createdDate": "2024-06-20T10:59:06.957Z",
        "label": "view_table_of_receipt",
        "disabled": false,
        "info": "",
        "functionSeq": 3,
        "generateNext": true,
        "serviceName": "view_table_of_receiptComponent"
    },
    {
        "id": "sd_6O8tKNbGl02kCN3l",
        "type": "OnInit",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_6O8tKNbGl02kCN3l",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_lkXtOAkx1t3liJdt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_table_of_receiptComponent"
    },
    {
        "id": "sd_BKxEW5tMPqq58rrp",
        "type": "Script",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.filterEvent);\nconst filterValue = (bh.input.filterEvent.target as HTMLInputElement).value;\nthis.page.tableData.filter = filterValue.trim().toLowerCase();",
        "functionName": "sd_iBlFYTlpoczCmWts_1",
        "category": "Function",
        "x": 205,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_T0BbfQcoOwupG32S",
        "type": "PageStart",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter_1",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter_1",
        "category": "General",
        "x": 60,
        "y": 340,
        "wires": [
            [
                "sd_BKxEW5tMPqq58rrp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_table_of_receiptComponent"
    },
    {
        "id": "sd_XWnrzpDujDrKTFX5",
        "type": "Environment",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "url"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XWnrzpDujDrKTFX5",
        "category": "General",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_4Vf2IKcFehdqpqlz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_4Vf2IKcFehdqpqlz",
        "type": "Script",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.url + 'get-receipt-data'",
        "functionName": "sd_4Vf2IKcFehdqpqlz",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_WuZPasacS9rk2wjU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_WuZPasacS9rk2wjU",
        "type": "HttpRequest",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get-receipts",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.resultReceipts",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "resultReceipts"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getReceipts",
        "category": "HTTP",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_9aWkPj07I2WaYudo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_ayQcTc5ezfm8IeZV",
        "type": "Script",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\nbh.local.dataSource = new MatTableDataSource(page.resultReceipts);\nconsole.log(page.resultReceipts)\n\n  bh.items = page.resultReceipts.items;\n\n    // console.log(\"next\",bh.items);  \n\n\n\n",
        "functionName": "sd_ayQcTc5ezfm8IeZV",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_MVjJdjj6fxMsPKnE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_9aWkPj07I2WaYudo",
        "type": "PageVariables",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_9aWkPj07I2WaYudo",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_ayQcTc5ezfm8IeZV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_zfOEljQEdUYfZ95X",
        "type": "AfterViewInit",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 450,
        "wires": [
            [
                "sd_wjPFEZ0PrZEjPYh2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_table_of_receiptComponent"
    },
    {
        "id": "sd_wjPFEZ0PrZEjPYh2",
        "type": "ViewPicker",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_3",
        "category": "Function",
        "x": 205,
        "y": 450,
        "wires": [
            [
                "sd_cA1EQXXO6kwc8Trh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_fsDpw6K92JfXYn9S",
        "type": "Script",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.tableData.sort = this.MatSort;\nthis.page.tableData.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_3",
        "category": "Function",
        "x": 365,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_MVjJdjj6fxMsPKnE",
        "type": "PageVariables",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            }
        ],
        "functionName": "sd_MVjJdjj6fxMsPKnE",
        "category": "Function",
        "x": 585,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_LPpzec9McQsWn2OI",
        "type": "PageStart",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "selected",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "row",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "selected",
        "category": "General",
        "x": 165,
        "y": 160,
        "wires": [
            [
                "sd_yhUPIkxL5GISAA7A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_table_of_receiptComponent"
    },
    {
        "id": "sd_yhUPIkxL5GISAA7A",
        "type": "Script",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.user = bh.input.row\npage.router.navigate(['/selected_receipt_form'])",
        "functionName": "sd_yhUPIkxL5GISAA7A",
        "category": "Function",
        "x": 305,
        "y": 160,
        "wires": [
            [
                "sd_LGhlzLP6xUWOykXK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_LGhlzLP6xUWOykXK",
        "type": "Storage",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "user"
        },
        "resultMapping": {},
        "functionName": "sd_LGhlzLP6xUWOykXK",
        "category": "Storage",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_lkXtOAkx1t3liJdt",
        "type": "UseDependency",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "router"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_lkXtOAkx1t3liJdt",
        "category": "Function",
        "x": 105,
        "y": 40,
        "wires": [
            [
                "sd_XWnrzpDujDrKTFX5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    },
    {
        "id": "sd_cA1EQXXO6kwc8Trh",
        "type": "PageVariables",
        "z": "sd_PDYpvdpmhJjQKFZR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData.sort",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatSort"
                }
            },
            {
                "textIp": "tableData.paginator",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatPaginator"
                }
            }
        ],
        "functionName": "sd_cA1EQXXO6kwc8Trh",
        "category": "Function",
        "x": 285,
        "y": 440,
        "wires": [
            [
                "sd_fsDpw6K92JfXYn9S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_table_of_receiptComponent",
        "generated": true
    }
]
